@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --cc-primary-1: hsl(185, 75%, 39%);
    --cc-primary-2: hsl(229, 23%, 23%);
    --cc-primary-3: hsl(227, 10%, 46%);
    --c-neutral: hsl(0, 0%, 59%);
}


/* RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Kumbh Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*styles*/

body {
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: var(--cc-primary-1);
    background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: -15rem -35rem, 35rem 15rem;
}
p {
    color: var(--cc-primary-3);
    font-weight: 400;
}

.container {
    background-color: #fff;
    min-width: 25rem;
    min-height: 27.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-rows: 3fr 1fr;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.5rem;
}

.profile img {
    border-radius: 50%;
    border: .4rem solid white;
    margin: 0 auto;
    transform: translate(0%, -20%);
}

.profile-info h1 {
    color: var(--cc-primary-3);
    font-size: 1.5rem;
    font-weight: 400;
}

.profile-info span {
    color: var(--cc-primary-2);
    font-weight: 700;
}

.reach {
    border-top: 1px solid #3333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--cc-primary-2);
    font-weight: 700;
}

.reach p {
    font-size: .8rem;
    letter-spacing: .1rem;
}